@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
}
body {
  background: #ccc;
  font-family: 'Montserrat', Arial, sans-serif;
}
.demo-container {
  max-width: 1000px;
  margin: 0 auto;
}
.demo__content-header {
  font-size: 2.5rem;
  margin: 1.5rem 1rem;
}
.entry {
  margin: 1.5rem 1rem;
  display: grid;
  grid-template-columns: 30% 1fr;
}
.entry__image img {
  width: 100%;
}
.entry__text {
  padding: 5px 20px;
}

@media screen and (max-width: 600px) {
  .demo__content-header {
    font-size: 2.0rem;
    margin: 1.5rem 1rem;
  }
  .entry {
    grid-template-columns: 1fr;
  }
  .entry__text {
    padding: 10px;
  }
}